	<div class="navbar navbar-inverse navbar-fixed-top">
  		<div class="navbar-inner">
  			<div class="container">
  				<a href="http://localhost:3000" class="navbar-brand">NantSocial</a>
  				<ul class="nav navbar-nav">
  					<li>
  						<%= link_to "Ramblings", statuses_path %>
  					</li>
  			</div>
  		</div>
	</div>